In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies = {
    "title": [
        "Inception", "Interstellar", "The Matrix", "Avatar", "Tenet",
        "Avengers", "Iron Man", "Thor", "Captain America", "Black Panther",
        "John Wick", "Mad Max", "Die Hard", "Mission Impossible", "Fast and Furious",
        "Titanic", "The Notebook", "La La Land", "Pride and Prejudice", "A Star Is Born",
        "Jurassic Park", "King Kong", "Godzilla", "Transformers", "Pacific Rim",
        "Toy Story", "Finding Nemo", "Up", "Coco", "Inside Out"
    ],
    "genre": [
        "sci fi action thriller", "sci fi space drama", "sci fi action",
        "sci fi adventure fantasy", "sci fi action thriller",

        "action superhero", "action superhero", "action superhero",
        "action superhero", "action superhero",

        "action thriller", "action adventure", "action thriller",
        "action spy thriller", "action racing adventure",

        "romance drama", "romance love drama", "romance musical drama",
        "romance classic drama", "romance music drama",

        "adventure sci fi", "adventure fantasy", "action monster sci fi",
        "action sci fi", "action sci fi",

        "animation family comedy", "animation family adventure",
        "animation family adventure", "animation fantasy family",
        "animation emotion family"
    ]
}

In [3]:
df = pd.DataFrame(movies)
df.head()

          title                     genre
0     Inception    sci fi action thriller
1  Interstellar        sci fi space drama
2    The Matrix             sci fi action
3        Avatar  sci fi adventure fantasy
4         Tenet    sci fi action thriller

In [4]:
vectorizer = CountVectorizer()
genre_matrix = vectorizer.fit_transform(df["genre"])

In [5]:
similarity = cosine_similarity(genre_matrix)

In [6]:
def recommend_movie(movie_name):
    if movie_name not in df["title"].values:
        print("Movie not found in database.")
        return

    index = df[df["title"] == movie_name].index[0]
    scores = list(enumerate(similarity[index]))
    scores = sorted(scores, key=lambda x: x[1], reverse=True)

    print(f"\nRecommended movies for '{movie_name}':\n")
    for i in scores[1:6]:
        print(df.iloc[i[0]]["title"])

In [9]:
movie_name = input("Enter a movie name: ")
recommend_movie(movie_name)

Enter a movie name: Titanic

Recommended movies for 'Titanic':

The Notebook
La La Land
Pride and Prejudice
A Star Is Born
Interstellar